body {
  background-image: url("images/home-banner.jpg");
  background-repeat: no-repeat;
  
}
.navbar-default .navbar-nav>li>a {
     color: #ffffff; 
}
.card{
	border-radius: 5px !important;
}
.padding-l-25px{
	padding-left:25px
}
 .dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.navbar-default {
  background-color: transparent;
  border-color: transparent; 
}
.jumbotron {
  padding: 91px;
 background-color: transparent;
}
.row {
	display: inline-flex;
   padding: 25px
}

.col-sm-6 {
  padding-right: 0px; 
  padding-left: 0px;
 
}
.col-sm-12{
padding:0px;

}
.contentbox{
padding:98px;
}
.toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 20px; }
  .toggle.ios .toggle-handle { border-radius: 20px; }
